@import url('https://fonts.googleapis.com/css?family=Lato');

// FOR EVERYTHING
* {
  font-family: 'Lato', sans-serif;
  font-size: 12px;
}

.body{
  margin: 10px;
  background-color: #E5E5E5;
}

.bold {
  font-weight: bolder;
}

.italics {
  font-style: italic;
}

.redText{
  font-weight: bold;
  color: #FF0000
}

.blueText{
  font-weight: bold;
  color: #0000FF
}

.navBar{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #DEDEDE;
  background: #FFFFFF;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  align-items: baseline;
}

.pageBody{
  padding-top: 25px;
  padding-left: 30px;

  margin: -10px;
  background: #E5E5E5;
}

// to ensure bar are just lines
input[type=options] {
    background: transparent;
    border: none;
    // border-bottom: 1px solid #000000;
    font-size: 12px;
    width: 45vw;
}

input[type=title] {
    background: transparent;
    border: none;
    // border-bottom: 1px solid #000000;
    font-size: 16px;
    width: 38vw;
}

// BOX STYLING
.question {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background: #FFFFFF;
  border: 1px solid #EBEBEB;
  box-sizing: border-box;
  border-radius: 15px;
  padding: 30px;
  width: 60%;
  margin: 60px;
}

.q_header{
  font-size: 14px;
  margin-bottom: 0px;
}

.q_subtext{
  margin: 0;
  margin-bottom: 10px;
  font-weight: normal;
}


/*************** BUTTON STYLING ***************/

// remove blue outline around buttons
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

// white button, green text
.invertedGreen{
  background-color: #FFFFFF;
  padding: 10px 40px;
  font-size: 13px;
  border: none;
  border-radius: 10px;
  color: #518063;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin:10px;
}

// green button, white text
.regularGreen{
  background-color: #518063;
  border: none;
  padding: 10px 40px;
  font-size: 13px;
  border-radius: 10px;
  color: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin:10px;
}

// plain text
.goToDashboard{
  border: none;
  font-size: 15px;
  background: white;
}

.questionNavBarAndAddQuestion{
  display: flex;
  flex-direction: column;
  float: right;
}

.addQuestion{
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: #9E9E9E;
  padding: 5px;
  margin: 10px;
  background: #FFFFFF;
  border: none;
}

.questionNavBar{
  display: flex;
  flex-direction: column;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  padding: 10px;
  padding-right: 30px;
  margin-right: -10px;
}

.questionNavBarButton{
  border: none;
}

// plain white rounded button square
// LEARNING: If you set box-sizing: border-box; on an element padding and border are included in the width and height <-- use this for boxes of same size but different amount of content inside

.allBuckets{
  display: flex;
  flex-wrap: wrap;
}

.oneBucketDiv {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 170px;
  height: 170px;
  border: 1px solid #DEDEDE;
  background: #FFFFFF;
  margin: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  background: white;
}

.oneBucketText {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-self: center;
}

.bucketText{
  background: white;
  font-size: 17px;
}

.modal {
  background-color: white;
}

.xOut {
  // float: right;
  border: none;
}

.trash {
  float: right;
  border: none;
}

.distributionButton {
  background: #FFFFFF;
  box-sizing: border-box;
  border-radius: 15px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 15px;
  margin: 20px;
  // QUESTION: how do i improve this so that's it's resizable with page?
  width: 150px;
  height: 150px;
}

.distributionButtons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.userIcon {
  font-size: 15px;
  padding: 2px;
}

hr {
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: -30px;
  margin-right: -30px;
  border: 1px solid #F1F1F1;
}


// Dashboard STYLING
#create_survey {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.survey_box {
  background: rgba(225, 237, 230, 0.17);
  border: 1px solid #E4E4E4;
  box-sizing: border-box;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  margin:50px;
}
.ongoingsurvey_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin:20px
}
.surveyRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background: #FFFFFF;
  border: 1px solid #EBEBEB;
  box-sizing: border-box;
  border-radius: 5px;
  margin: 10px;
}
.surveyRow p {
  padding: 10px;
  margin-left: 15px;
  margin-right: 15px;
}
.dashboard_chart {
  align-self:center;
  height: 300px;
  width: 300px;
  transform: rotate(-90deg);
}
.dashboard_header {
  font-size:30px;
  font-weight: bold;
}
.dashboard_survey_date {
  font-style: italic;
}
.dashboard_chart h1 {
  margin:-115px;
  margin-top: -200px;
  margin-left: 90px;
  width: 100px;
  transform: rotate(90deg);
  font-size:30px;
  font-weight: bold;
}
.survey_box a {
  text-decoration: none;
}
.dashboard_nosurvey h1 {
  color: #AEAEAF;
  font-style: italic;
}
// GroupNumber page Styling
.groupNumber {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #FAFCFB;
  border: 1px solid #E4E4E4;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}
.groupNumber input {
  border-radius: 5px;
}
.group_number_warning {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: rgba(255, 222, 53, 0.24);
  border: 1px solid #FFDE33;
  margin:40px;
}
.group_number_warning p {
  padding-left: 20px;
  padding-right: 20px;
}
.group_num_header {
  font-size: 17px;
  margin-left: 30px;
  margin-top: 30px;
}
.group_num_p {
  margin-left: 30px;
  margin-right: 30px;
}
.group_num {
  display: flex;
  flex-direction: column;

}
.group_num_buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
//RESULTS Styling
#results_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#results_toggle {
  display: flex;
  flex-direction: column;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  margin-left: 50px;
  margin-right: 50px;
}

.toggle_buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#toggle_button_question {
  width: 120px;
  height: 35px;
  padding: 10px 10px;
  font-size: 13px;
  // border: 2px #518063;
  border-radius: 10px 0px 0px 10px;
}
#toggle_button_response {
  padding: 10px 10px;
  font-size: 13px;
  border-radius: 0px 10px 10px 0px;
  border-color: #518063;
  width: 120px;
  height: 35px;
}
.active{
  background-color: #518063;
  color: white;
  border-color: #518063;
}
.not_active {
  background-color: white;
  color: #518063;
  border-color: #518063;
}
#results_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  margin: 20px;
}

#results_description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#results_description p {
  color: #518063;
}
// Results Questions Toggle Page STYLING
.result_question {
  background: #FFFFFF;
  border: 1px solid #F1F1F1;
  box-sizing: border-box;
  margin-left:50px;
  margin-top: 30px;
  border-radius:5px;
  margin-right:100px;
}
.qNum {
  color: #518063;
}
.result_q_title {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #F1F1F1;
}
/****** style slider ******/
input[type=range] {
  height: 25px;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 19px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #50555C;
  background: #DEDEDE;
  border-radius: 14px;
  border: 0px solid #000000;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 0px solid #000000;
  height: 19px;
  width: 19px;
  border-radius: 50px;
  background: #518063;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: 0px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #DEDEDE;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 19px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #50555C;
  background: #DEDEDE;
  border-radius: 14px;
  border: 0px solid #000000;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 0px solid #000000;
  height: 19px;
  width: 19px;
  border-radius: 50px;
  background: #518063;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 19px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #DEDEDE;
  border: 0px solid #000000;
  border-radius: 28px;
  box-shadow: 0px 0px 0px #50555C;
}
input[type=range]::-ms-fill-upper {
  background: #DEDEDE;
  border: 0px solid #000000;
  border-radius: 28px;
  box-shadow: 0px 0px 0px #50555C;
}
input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 0px 0px 0px #000000;
  border: 0px solid #000000;
  height: 19px;
  width: 19px;
  border-radius: 50px;
  background: #518063;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #DEDEDE;
}
input[type=range]:focus::-ms-fill-upper {
  background: #DEDEDE;
}

.priorityBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.questionHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/** styling question header **/
.surveyHeader {
  display: flex;
  flex-direction: column;
  background: #FFFFFF;
  border: 1px solid #EBEBEB;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  padding-right: 50px;
  padding-top: 50px;
  padding-left: 20px;
  margin-left: 60px;
  width: 60%;

  input[type=text]{
    border: none;
    border-bottom: 1px solid #ECECEC;
  }

  .surveyTitle{
    font-style: italic;
    font-size: 19px;
  }

  .surveyInfo{
    font-style: italic;
    font-size: 15px;
  }
}

/********* select-css ********/
.select-css {
    display: block;
    font-weight: 700;
    color: #444;
    padding: .6em 1.4em .5em .8em;
    width: 18%;
    box-sizing: border-box;
    margin: 0;
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
    border-radius: .5em;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
      linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
}
.select-css::-ms-expand {
    display: none;
}
// .select-css:focus {
//     border-color: #aaa;
//     box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
//     box-shadow: 0 0 0 3px -moz-mac-focusring;
//     color: #222;
//     outline: none;
// }
.select-css option {
    font-weight:normal;
}

.fontawesomeIcons{
  color: #C4C4C4;
  border: none;
}

.heart {
  color: red;
}
