<!DOCTYPE html>
<html>
  <head>
    <title>ReactOnRailsWithWebpacker</title>
    <%= csrf_meta_tags %>
    <%= javascript_pack_tag 'hello-world-bundle' %>
    <%= stylesheet_link_tag "style", 'https://unpkg.com/react-day-picker@7.3.0/lib/style.css' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
